.caja {
    width: 120px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    display: inline-block;
}

.roja {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

img {
    width: 120px;
    height: 120px;
    display: inline-block;
}

/*para pantallas pequeñas, aplica esta regla*/
@media (max-width: 600px)
{
    /*los estilos que yo defina aquí, son solo paraç
    pantallas pequeñas, de máximo 600 px*/
    .caja, img {
        display: block;
    }
}

