table {
    border-collapse: collapse;
    width: 70vw;
    margin: 0 auto;
}
caption {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    font-size: xx-large;
}

th, td {
    border: 2px solid #999;
    padding: 8px;
}

.numero {
    text-align: right;
}

.total {
    background-color: #999;
}
/* puedo seleccionar hijos
con la propiedad: nth-child
con even, es para hijos pares
con odd, para hijos impares
*/
tbody tr:nth-child(even)
{
    background-color: blue;
    color: #fff;
}

/* tbody tr:nth-child(odd)
{
    background-color: aqua;
} */




